.team_div{
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#Tname{
    flex:60%;
    color:#fff;
    display: grid;
    place-items: center;
}
#Yr{
    flex:20%;
    color:#fff;
    display: grid;
    place-items: center;
}
#Edit_ico{
    flex:10%;
    color:#fff;
}
#View_ico{
    flex:10%;
    color:#fff;
}
