.main_body{
   display:flex;
}
.container1{
    flex:30%;
    display:flex;
    background-color: #1e2849;
  }

.sidebar-list{
    height:auto;
    width:100%;
    padding:10px;
}
.sidebar{
    background: #21265b;
    color: #fff;
    height: 100vh;
    width: 250px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
  
.link{
    display: flex;
    color: rgb(161, 160, 160);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link #icon {
    flex:30%;
    display: grid;
    place-items: center;
    font-size: 30px;
}
.link #title{
    flex:70%;
    display: grid;
    place-items: center start;
    font-size: 20px;
}

.link:hover{
    background:#1e2849;
    color: #fff;
    transition: all 0.5s;
    
}
.active{
    background: #5442cc;
    color: #fff;
    margin-left:5px;
    width:240px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.container2{
    flex:70%;
    margin-left: 3%; 
}
#dp {
    position:relative;
    background: #5442cc;
    width:50px;
    height:50px;
    border-radius: 50%;
    margin:10px;
    left:92%;
}

.Page_address{
    display:flex;
    color:#fff;
    font-size: large;
}
.address{
    font-weight: bold;
}
.bottom_section{
    position: relative;
    bottom:-29%;
}