/* .App{
  text-align: center;
  background-color: #1e2849;
  width:100vw;
  height:100vh;
}

body{
  margin: 0;
  padding: 0;
} */
*{
  margin:0;
  padding:0;
  text-decoration: none;
  
}
.container{
  display:flex;
  background-color: #1e2849;
}
main{
  width: 100%;
  padding: 20px;
}